# Ignora archivos del sistema Mac 
.DS_Store

# Ignora archivos de configuración de Visual Studio Community
.vscode
.vs

# Ignora .bash_history
.bash_history

# Ignora los archivos de compilacion y linkedicion
*.bin
*.sys
*.o

# Ignora los archivos imágenes
*.img
*.qcow2
*.vmdk


VesaFontMaker