# Ignora archivos del sistema Mac 
.DS_Store

# Ignora .bash_history
.bash_history

# Ignora los archivos de compilacion y linkedicion
*.bin
*.sys
*.o

# Ignora los archivos imágenes
*.img
*.qcow2
*.vmdk
