# Ignora archivos del sistema Mac 
.DS_Store

# Ignora archivos de configuración de Visual Studio Community
.vscode
.vs
*VesaFontMaker.sln

# Ignora .bash_history
.bash_history

# Ignora los archivos de compilacion y linkedicion
*.bin
*.sys
*.o

# Ignora los archivos imágenes
*.img
*.qcow2
*.vmdk

# Ignora los archivos de congifuración de GDB
.gdbinit
.gdb_history
kernel.elf
0000-sampleCodeModule.elf

VesaFontMaker